<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <span class="navbar-text">
    <%= t('.welcome') %> <b class="nav-admin user-username"><%= current_user.username %></b> Guru | 
    <%= t('.admin_panel') %> |
    <%= link_to 'Badges', admin_badges_path %> |
    <%= link_to t('.logout'), destroy_user_session_path,
                    method: :delete,
                    data: { confirm: t('.confirm') } %>
  </span>
</nav>
