<h1>Test: <%= @test.title %></h1>
<p><%= link_to 'New question', new_admin_test_question_path(@test) %></p>
<p><%= link_to 'Back to tests list', admin_tests_path %></p>

<p><%= pluralize(@test.questions.count, 'question') %>:</p>

<table><%= render @test.questions %></table>
