<nav class="navbar navbar-light bg-light">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
  <span class="navbar-text">
    <% if user_signed_in? %>
        <%= t('.welcome') %> <b><%= current_user.username %></b> Guru |
        <%= link_to t('.logout'), destroy_user_session_path,
                        method: :delete,
                        data: { confirm: t('.confirm') } %>
    <% else %>
        <%= link_to t('.login'), new_user_session_path %> |
        <%= link_to t('.signup'), new_user_registration_path %>
    <% end %>
  </span>
</nav>
