<h1 class="nav user"><%= link_to 'TestGuru', root_path %></h1>

<% if user_signed_in? %>
  <p class="nav user">
    Welcome, <b><%= current_user.username %></b> Guru
    <br><%= link_to 'Logout', destroy_user_session_path,
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
  </p>
<% else %>
  <p class="nav user">
    <%= link_to 'Login', new_user_session_path %> |
    <%= link_to 'SignUp', new_user_registration_path %>
  </p>
<% end %>
